#form-container{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
}

#form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: aqua;
    margin-top: 50px;
    padding: 80px;
    border-radius: 5px;
    
}
lable{
    padding: 10px;
    align-items: start;
}
input{
    padding: 12px;
    border-radius: 5px;
    border: none;
}
#butt{
    margin: 10px;
    padding: 12px 24px;
    border-radius: 5px;
}